<div class="login-container" [formGroup]="formLogin">
  <div class="login-info-container">
    <h1 class="title">Log in with</h1>
    <div class="inputs-container">
      <input class="input" type="email" [formControlName]="keys.USER_NAME" placeholder="Username">

      <small *ngIf="formLogin.controls['userName'].invalid && formLogin.controls['userName'].touched" class="login-error"><b>Ingrese email valido!!</b></small> 

      <input class="input" type="password" [formControlName]="keys.PASSWORD" placeholder="Password">

      <small *ngIf="formLogin.controls['password'].invalid && formLogin.controls['password'].touched" class="login-error"><b>Ingrese password</b></small> 

      <p>Forgot password? <span class="span">Click here</span></p>
      <button class="btn" [disabled]="formLogin.invalid" (click)="onLogin()" [ngClass]="{'activado': formLogin.valid, 'desactivado': formLogin.invalid}" >login</button>
      <p>Don't have an account? <span class="span">Sign Up</span></p>
    </div>
  </div>
</div>
