@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
