@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fill-space {
  flex: 1 1 auto;
}
